@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Thin.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Light.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Regular.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Medium.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Bold.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  src: font-url('Inter/static/Inter_18pt-Black.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-ThinItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-ExtraLightItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-RegularItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-SemiBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-ExtraBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  src: font-url('Inter/static/Inter_18pt-BlackItalic1122.ttf') format('ttf');
}